@import "../styles/color-pallete.module.scss";

.container-avatar {
  display: table;
  table-layout: fixed;
  width: 60px;
  height: 60px;
  background-color: $grey-800;
  border-radius: 4px;
}

.text-label {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;

  color: $white-000;
  font-weight: 600;
  font-size: 16px;
}
