@import "./color-pallete.module.scss";
@import "./mixins";

.header {
  background-color: $primary;
  height: 300px;
  border-radius: 4px;
  margin-bottom: 2rem;
  font-size: 32px;
  color: $white-000;
  font-weight: 600;

  @include flexbox($placeItems: center);
}
